<div>
  <h2>Employee List</h2>
  <ul>
    <li *ngFor="let employee of employees">
      <div *ngIf="employee">
        <div><b>Id:</b> {{ employee?.id }}</div>
        <div><b>First Name:</b> {{ employee?.firstName }}</div>
        <div><b>Last Name:</b> {{ employee?.lastName }}</div>
        <div><b>Email:</b> {{ employee?.email }}</div>
        <div><b>Gender:</b> {{ employee?.gender }}</div>
        <div><b>Salary:</b> ${{ employee?.salary }}</div>
        <br />
      </div>
  
    </li>
  </ul>
</div>
